{% extends 'accounts/profile.html' %}
{% load static %}


{% block section_title %}Change your password{% endblock section_title %}
{% block section_par %}Here you can change your password account{% endblock section_par %}

{% block content %}
    {% if user.is_authenticated %}

            <form method="POST" class="row g-3 container needs-validation">
            {% csrf_token %}
            
                
                <div class="col-12">
                  <label for="lastName" class="form-label">Old Password</label>
                  <input type="password" class="form-control required-field" id="old_password1" name="old_password" placeholder="" value="" required="" formnovalidate>
                  <div class="invalid-feedback">
                    Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters.
                  </div>
                  <div class="valid-feedback">Looks Good!</div>
                </div>
                
                
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">New Password</label>
                  <input type="password" class="form-control required-field" id="password1" name="password" placeholder="" value="" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                  <div class="invalid-feedback">
                    Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters.
                  </div>
                  <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control required-field" id="password2" name="confirm_password" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Passwords doesn't match.
                  </div>
                </div>
                                
            <hr class="my-4">
            <button class="btn btn-primary" type="submit">Save</button>

            <a class="btn btn-outline-secondary btn-sm mt-3" href="{% url 'accounts:profile' %}" role="button">< Go back</a>

            </form>

    {% else %}
        You are not logged in.
    {% endif %}

{% endblock content %}

{% block scripts %}
	<script src="{% static  'assets/dist/js/form-validation.js' %}"></script>
{% endblock scripts%}