{% extends 'store/index.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block section_title %}Your Profile{% endblock section_title %}
{% block section_par %}Here you can edit your profile{% endblock section_par %}


{% block main_space %}
    {% if user.is_authenticated %}
<div class="list-group mx-auto">

  <a href="{% url 'accounts:profile' %}" class="list-group-item list-group-item-action {% if request.path ==  '/accounts/profile/' %}active{% endif %}" aria-current="true">
    Your profile
  </a>
  <a href="{% url 'accounts:manage-addresses' %}" class="list-group-item list-group-item-action {% if request.path ==  '/accounts/profile/manage-addresses' %}active{% endif %}">Manage your addresses</a>
    

    </div>
    {% endif %}
{% endblock main_space %}


{% block content %}
    {% if user.is_authenticated %}
            <div class="list-group">
        

        <a href="{% url 'accounts:change-username' %}" class="list-group-item list-group-item-action">Change your username</a>
        <a href="{% url 'accounts:change-email' %}" class="list-group-item list-group-item-action">Change your email</a>
        <a href="{% url 'accounts:change-password' %}" class="list-group-item list-group-item-action">Change your password</a>
      

    </div>
        
    {% else %}
        You are not logged in.
    {% endif %}
{% endblock content %}


