
{% block email %}
<input type="hidden" id="check-email" value="{% url 'accounts:check-email' %}">
<div class="col-12">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="yourname@example.com" required="" value="{{ email }}" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
  <div class="invalid-feedback" id="email-error-message">
    Please enter a valid email address.
  </div>
<div class="valid-feedback">Looks Good!</div>
</div>
{% endblock email %}
