
{% block name %}
<div class="col-sm-6">
  <label for="firstName" class="form-label">First name</label>
  <input type="text" class="form-control" id="firstName" name="first_name" placeholder="" value="{{ first_name }}" required="">
  <div class="invalid-feedback">
    Valid first name is required.
  </div>
</div>

<div class="col-sm-6">
  <label for="lastName" class="form-label">Last name</label>
  <input type="text" class="form-control" id="lastName" name="last_name" placeholder="" value="{{ last_name }}" required="">
  <div class="invalid-feedback">
    Valid last name is required.
  </div>
</div>
{% endblock name %}