{% extends 'store/store.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
          {{ product.product.name }}
    </li>

{% endblock breadcrumb %}

{% block content %}

    <div class="row p-4 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-4 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">{{ product.product.name }}</h1>
        <p class="lead">{{ product.product.description }}</p>
        <p class="">Gender: {{ product.product.gender }}</p>

        <div class="d-flex">
        
            <div class="mb-3 me-5 fit-content">
                <label for="select-quantity" class="form-label">Quantity: </label>
                <select class="form-select " id="select-quantity">
                  <option selected="" value="1">1</option>
                    {% for i in quantities %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                    <option value="20+">20+</option>
                </select>
                <input class="form-control d-none" type="number" id="select-quantity" min="20">
              </div>
            <div class="mb-3 me-3 fit-content">
                <label for="select-size" class="form-label">Available sizes: </label>
                <select class="form-select " id="select-size">
                  
                    {% for size in sizes %}
                        <option value="1">{{ size.size__size_name }}</option>
                    {% endfor %}
                </select>
              </div>
    
            <div class="mb-3 me-3 fit-content">
                <label for="select-color" class="form-label">Available colors: </label>
                <select class="form-select " id="select-color">
                    {% for color in colors %}
                        <option value="1">{{ color.color__color_name }}</option>
                    {% endfor %}
                </select>
              </div>
        
            
        

        </div>

        <div class="align-content-center display-6 fw-bold lh-1 text-body-emphasis mb-4">
            {{ product.price }} $
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-between mb-4 mb-lg-3">
            <div class="d-flex ">
          <button type="button" class="btn btn-primary btn-lg px-4 me-2 fw-bold">Add to Cart</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Add to favourites</button>
            </div>

        </div>
      </div>
        <!-- TODO implement dynamic image by color -->
      <div class="col-lg-5 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3 w-100" src="{% static  'images/fiore.jpeg' %}" alt="" >
      </div>
    </div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/dist/js/product-detail.js' %}"></script>
{% endblock scripts %}