{% extends 'store/store.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
          {{ product.product.name }}
    </li>

{% endblock breadcrumb %}

{% block content %}
    {% include 'message-system.html' %} 
    <div class="alert alert-dismissible fade show d-none" role="alert" id="notification-banner">
          <span id="notification-text"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    <div class="row p-4 align-items-center rounded-3 border shadow-lg product_data">
        {% csrf_token %}
        <input type="hidden" value="{{ encrypted_id }}" class="prod_id">
        <input type="hidden" value="{% url 'order:add-to-cart' %}" id="ajax_url">
      <div class="col-lg-7 p-3 p-lg-4 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">{{ product.product.brand.brand_name }} {{ product.product.name }}</h1>
        <p class="lead">{{ product.product.description }}</p>
        <p class="">Gender: {{ product.product.gender }}</p>

        <div class="d-flex flex-column">
        
            
            {% if colors %}
            <div class="mb-3 me-3 fit-content">
                <label for="select-color" class="form-label">Available colors: </label>
                <select class="form-select " id="select-color">
                    {% for color in colors %}
                        {% if product.color.id == color.id %}
                        <option selected="" value="{{ color.id }}">{{ color.color_name }}</option>
                        {% else %}
                        <option value="{{ color.id }}">{{ color.color_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
              </div>
            {% else %}
                Color: One color
            {% endif %}
        
        
            <input type="hidden" value="{% url 'store:update-product' %}" id="update-product-url">
            
            {% if sizes %}
            <div class="d-flex flex-column">
                <span class="form-label">Select size:</span>
                <div class="fit-content d-flex align-items-center btn-group  flex-wrap">
    
                    {% for size in sizes %}
                        {% if size.id in blocked_sizes  %}
                            <input type="radio" class="btn-check size-selector" name="size" id="size_{{ size.id }}" value="{{ size.id }}" autocomplete="off" disabled>
                        {% else %}
                            <input type="radio" class="btn-check size-selector" name="size" id="size_{{ size.id }}" value="{{ size.id }}" autocomplete="off">
                        {% endif %}
                            <label class="btn btn-secondary" for="size_{{ size.id }}">{{ size.size_name }}</label>
                    {% endfor %}
                    
                  </div>
            </div>
            {% else %}
                Size: One size
            {% endif %}
        
        
        </div>



      
        <div class="d-flex my-4 align-content-center align-items-center flex-wrap">
            
            <div class="align-content-center display-6 fw-bold lh-1 text-body-emphasis me-5">
                 <span id="product-price">{{ product.price }}</span> <span> $</span>
            </div>
            <div class="me-5 fit-content d-flex align-items-center">
                <label for="select-quantity" class="form-label mx-1">Quantity: </label>
                <select class="form-select mx-1" id="select-quantity">
                  <option selected="" value="1">1</option>
                    {% for i in quantities %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                    <option value="20+">20+</option>
                </select>
                <input class="form-control d-none mx-1" type="number" id="select-quantity" min="20">
              </div>

        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-between mb-4 mb-lg-3">
            <div class="d-flex ">
          <button type="button" class="btn btn-primary btn-lg px-4 me-2 fw-bold add-to-cart">Add to Cart</button>
            </div>

        </div>
      </div>
        
      <div class="col-lg-5 p-0 overflow-hidden shadow-lg">
           <img class="rounded-lg-3 w-100 p-4" src="{{ product.image_id.image.url }}" alt="" id="product-image">
      </div> 
    
    

    
    </div>

{% endblock content %}

{% block filters %}{% endblock filters %}

{% block scripts %}
<script src="{% static 'assets/dist/js/product-detail.js' %}"></script>
{% endblock scripts %}