{% extends 'store/index.html' %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block styles %}
<link href="{%  static 'assets/dist/css/breadcrumbs.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<link href="{%  static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock styles %}


{% block categories %}
  <section class="pt-3 pb-5 text-center container">
        <div class="row pb-lg-5">
      <div class="mx-auto">


        <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-1 bg-body-tertiary rounded-3 justify-content-center ">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'store:home' %}">Home</a>
      </li>


     <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'store:gender-store' gen=gender %}">{{ gender }}</a>
      </li>

        {% if category_name %}
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'store:category' gen=gender category=category_slug %}">{{ category_name }}</a>
              </li>
        {% endif %}


    {% block breadcrumb %}{% endblock breadcrumb %}




    </ol>
  </nav>

          <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
      <div class="container-fluid justify-content-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarsExample11">
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">

            {% for category in categories %}
                <li class="nav-item">

                    <a class="nav-link" href="{% url 'store:category' gen=gender category=category.category_slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </nav>

      {% block filters %}
    <form method="GET" action="" class="bg-body-tertiary py-2 mt-4 rounded d-flex flex-column">
    
    {% if brands %}
        <span class="text-center">Filter by brand:</span>
        <div class="col-lg-2 justify-content-center w-100 my-2 overflow-x-auto">
            <div class="btn-group justify-content-center" role="group" aria-label="Basic checkbox toggle button group">
                {% for brand in brands %}
                  <input type="checkbox" class="btn-check" id="brand_filter_{{ brand.id }}" autocomplete="off" name="brand_filtered" value="{{ brand.id }}" {% if brand.id in applied_filters.brands %} checked {% endif %}>
                  <label class="btn btn-outline-secondary" for="brand_filter_{{ brand.id }}">{{ brand.brand_name }}</label>
                {% endfor %}

            </div>
        </div>
    {% endif %}
    
    
    {% if colors %}
        <span class="text-center">Filter by color:</span>
        <div class="col-lg-2 justify-content-center w-100 my-2 overflow-x-auto">
            <div class="btn-group justify-content-center" role="group" aria-label="Basic checkbox toggle button group">
                {% for color in colors %}
                  <input type="checkbox" class="btn-check" id="color_filter_{{ color.id }}" autocomplete="off" name="color_filtered" value="{{ color.id }}" {% if color.id in applied_filters.colors %} checked {% endif %}>
                  <label class="btn btn-outline-secondary" for="color_filter_{{ color.id }}">{{ color.color_name }}</label>
                {% endfor %}

            </div>
        </div>
    {% endif %}
    
    {% if sizes %}
        <span class="text-center">Filter by size:</span>
        <div class="col-lg-2 justify-content-center w-100 my-2 overflow-x-auto">
            <div class="btn-group justify-content-center" role="group" aria-label="Basic checkbox toggle button group">
                {% for size in sizes %}
                  <input type="checkbox" class="btn-check" id="size_filter_{{ size.id }}" autocomplete="off" name="size_filtered" value="{{ size.id }}" {% if size.id in applied_filters.sizes %} checked {% endif %}>
                  <label class="btn btn-outline-secondary" for="size_filter_{{ size.id }}">{{ size.size_name }}</label>
                {% endfor %}

            </div>
        </div>
    {% endif %}

        <span class="text-center">Filter by price:</span>
        <div class="d-flex justify-content-center my-2">

            <div class="col-lg-2 mx-3">
                <div class="input-group mb-3 ">
                  <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" min="0" id="min_price" name="min_price" placeholder="Min price" value="{{ applied_filters.min_price }}">
                  <span class="input-group-text">$</span>
                </div>
            </div>

            <div class="col-lg-2 mx-3">
                    <div class="input-group mb-3 ">
                      <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="max_price" min="0" name="max_price" placeholder="Max price" value="{{ applied_filters.max_price }}">
                      <span class="input-group-text">$</span>
                    </div>
            </div>
        </div>


        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class="btn btn-primary">Filter</button>
            <button type="submit" class="btn btn-outline-danger" name="reset" value="1">Remove filters</button>
        </div>
    </form>
          {% endblock filters %}






      </div>
    </div>
  </section>
{% endblock categories %}

