{% extends 'order/orders.html' %}
{% load static %}

{% block styles %}
    <link href="{%  static 'assets/dist/css/orders.css' %}" rel="stylesheet">
{% endblock styles %}

{% block section_title %}Order details{% endblock section_title %}
{% block section_par %}These are the order details you selected{% endblock section_par %}



{% block content %}
    {% if order %}
    <div class="card text-center">
  <div class="card-header">
      <div class="d-flex justify-content-between flex-wrap">
          <div class="mx-4 d-flex">
              <span class="me-1 text-primary fw-bold">Order N:</span>
              <span class="" > {{ order.id }}</span>
          </div>

          <div class="mx-4 d-flex align-items-center overflow-hidden">
              <span class="me-1 fw-bold">Send to: </span>
              <span class="">{{ order.shipping_first_name_recipient }} {{ order.shipping_last_name_recipient }},
              {{ order.shipping_address1 }}, {% if order.shipping_address2 %}{{ order.shipping_address2 }},{% endif %}
              {{ order.shipping_state }}, {{ order.shipping_zip }}, {{ order.shipping_country }}</span>
          </div>


            <div class="mx-4 d-flex">
              <div class="mx-4 d-flex">
              <span class="me-1 fw-bold">Total items:</span>
              <span class=""> {{ order.total_products }}</span>
          </div>
              <span class="me-1 fw-bold">Total paid:</span>
              <span class=""> {{ order.total_price }} $</span>
          </div>
      </div>

  </div>
  <div class="card-body">
      {% for item in order_items %}
      <div class="d-flex justify-content-between overflow-hidden mb-3">
        <div class="order-item-box">
            {% if item.product.image_id.image.url %}
          <img class="order-item-image" src="{{ item.product.image_id.image.url }}" alt="{{ item.product.title}}">
            {% else %}
                Image not found
            {% endif %}
        </div>
          <div class="align-content-center d-flex justify-content-around flex-column text-center">
              <span>{{ item.product.title }}</span>
              <div>
                  
                    <span>Color: {% if item.product.color %}{{ item.product.color }}{% else %}One color{% endif %}</span>
                    <span>  |  </span>
                    <span>Size: {% if item.product.size %}{{ item.product.size }}{% else %}One size{% endif %}</span>
                  

              </div>
          </div>

          <div class="align-content-center">
              <span>{{ item.quantity }} x {{ item.product.price }} $</span>
          </div>

      </div>
      {% endfor %}
  </div>
  <div class="card-footer text-muted">
      <div class="d-flex justify-content-between flex-wrap">
          <div class="mx-4 d-flex">
              <span class="me-1 text-warning fw-bold">Status:</span>
              <span class="" > {{ order.status }}</span>
          </div>
          <div class="mx-4 d-flex">
              <span class="me-1 fw-bold">Order placed on:</span>
              <span class="" > {{ order.created_at.date }}</span>
          </div>

      </div>

  </div>
    </div>
    {% else %}
        <div class="text-center text-danger">
            Error during order response
        </div>
    {% endif %}
{% endblock content %}