<!-- this html file must be included in another html file -->

<hr class="my-4">

<h4 class="mb-3">Payment method:</h4>

<div class="my-3">
    {% for payment_method in payment_methods %}
        <div class="form-check">
            <input id="payment-method_{{ payment_method.id }}" name="payment-method" type="radio" class="form-check-input"  value="{{ payment_method.id}}" required>
            <label class="form-check-label" for="payment-method_{{ payment_method.id }}">{{ payment_method.name }}</label>
        </div>
    {% endfor %}
</div>



<hr class="my-4">
{% csrf_token %}
<button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>