<!-- this html file must be included in another html file -->

<hr class="my-4">

<h4 class="mb-3">Payment method:</h4>

<div class="my-3">
    {% for method,label in payment_methods %}
        <div class="form-check">
            <input id="payment-method_{{ method }}" name="payment-method" type="radio" class="form-check-input"  value="{{ method }}" required>
            <label class="form-check-label" for="payment-method_{{ method }}">{{ label }}</label>
        </div>
    {% endfor %}
</div>



<hr class="my-4">
{% csrf_token %}
<button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
<a class="btn btn-secondary btn-sm mt-3" href="{% url 'store:home' %}" role="button">< Return home</a>